body {
    background-color: darkgray;
    
}
h1 {
    color: #ea503f;
    font-family: Arial;
    text-align: center;
    text-decoration: underline;
}
 .container {
    padding: 20px;
    background-color: bisque;
    width: 500px;
}
header{
    background-color: darkorchid;
    border: 2px solid black;
}

h1{
   color: #ea503f;
   font-family: Arial;
   text-align: center;
   
 }
 button {
    align-items: center;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 100px;
    background-color: cadetblue;
    color: blue;
}
input,select {
    padding: 10px;
    margin-bottom: 20px;
}
label {
    margin-left: 10px;
    margin-right: 20px;
}
.color-class{

    color:red;
    
    }