html{
    background-image: linear-gradient(to bottom, bisque,blue);
}
body {
    background-color: aqua;
}
 h1{
   color: #ea503f;
   font-family: Arial;
   text-align: center;
   text-decoration: underline;
   
 }
 .container {
  padding: 20px;
}
header{
    background-color: darkorchid;
    border: 1px solid black;
}


 button {
    align-items: center;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 100px;
}
input {
    padding: 10px;
    margin-bottom: 20px;
}
label {
    margin-left: 10px;
    margin-right: 20px;
}