body{
    background-color: beige;
}
table{
    background-color: bisque;
}
table tbody tr td {
    border: 1px solid brown;
    width: 200px;
    height: 100px;
    text-align: center;
}

table thead tr td {
    border: 2px solid brown;
    width: 200px;
    height: 100px;
    text-align: center;
    color: blue;
}

h1 {
    color: teal;
    font-family: INITIAL;
    text-align: center;
    text-decoration: underline;
}

header{
    float: right;
    color:blue;
}

button#btn {
    align-items: center;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 100px;
    background-color: chocolate;
}